@charset "UTF-8";

.q7_flex{
  display: flex;
  justify-content: center;
  align-items: end;
}

.q7_speech_bubble{
  width: 550px;
  margin-left: 35px;
  border: 5px solid #222;
  border-radius: 30px;
  padding: 20px;
  font-size: 16px;
  word-break: break-all;
  position: relative;
}

.q7_speech_bubble:before,
.q7_speech_bubble:after {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  content: "";
}

.q7_speech_bubble:before {
  left: -45px;
  border-right-color: #222;
}

.q7_speech_bubble:after {
  left: -38px;
  border-right-color: #fff;
}