@charset "UTF-8";


/* q5が終わったら
q6のcssはq6フォルダの中のcssファイルに記述してください */

.q5_white{
  width: 400px;
}

.q5_float{
  float: left;
  margin-left: 60px;
}

.q5_float:first-child, .q5_inline-block:first-child, .q5_white_calc:first-child{
  margin-left: 0;
}

.q5_table{
  display: table;
}

.q5_table-cell{
  display: table-cell;
  padding-left: 60px;
}

.q5_table-cell:first-child{
  padding-left: 0;
}

/*inline-blockの隙間問題の解消用*/
.q5_font-size0{
  font-size: 0;
}

.q5_inline-block{
  display: inline-block;
  margin-left: 60px;
}

.q5_inline-block:first-child{
  margin-left: 0;
}

.q5_flex{
  display: flex;
  justify-content: space-between;
}

.q5_white_calc{
  width: calc((100% - 50px)/3);
  margin-left: 25px;
}